.about-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.about-header.discount_share {
  background: url('https://scontent-vie1-1.xx.fbcdn.net/v/t31.0-8/28827796_423170064779869_7668620345743422219_o.jpg?_nc_cat=0&oh=976c63b691274511586ae5d39ab8185a&oe=5B3487AB') no-repeat;
  background-size: cover;
  height: 40%;
  border-bottom: 3px solid #e6e6e6;
}
