$categories: (
 clothes: #6600CC,
 shoes: #AC282B,
 car: #8E8D93,
 electronics: #FE4C52,
 health: #FD8B2D,
 pharmacy: #FED035,
 restaurant: #69BB7B,
 food: #3BC7C4,
 shop: #B16BE3,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  .scroll-content {
    background: linear-gradient(to bottom right, #0a0a29, #4ca4a1);
  }

  .item-wrapper {
    background: transparent;

    ion-card {
      background: transparent;
      height: 100%;
    }
  }

  .card-image {
    border-radius: 10px;
    height: 180px;
  }
}
