$categories: (
 clothes: #6600CC,
 shoes: #AC282B,
 car: #8E8D93,
 electronics: #FE4C52,
 health: #FD8B2D,
 pharmacy: #FED035,
 restaurant: #69BB7B,
 food: #3BC7C4,
 shop: #B16BE3,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  .scroll-content {
    background: linear-gradient(to bottom right, #0a0a29, #4ca4a1);
  }

  .item-wrapper {
    background: transparent;

    ion-card {
      background: transparent;
      height: 100%;
    }
  }

  .card-image {
    width: 102% !important;
    border-radius: 10px;
    height: 180px;
  }
}

.ios, .md {


    /*
     *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
     */

    /* entire container, keeps perspective */
    .flip-container {
      perspective: 1000px;
    }

    /* flip the pane when hovered */
    .flip-container.flipped .flipper {
      transform: rotateY(180deg);
    }

    .flip-container, .front, .back {
      width: 90vw;
      height: 26vh;
      margin: 20px auto;
      border-radius: 10px;
      border: 0 !important;
    }

    /* flip speed goes here */
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ecf0f1;
      backface-visibility: hidden;
      -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
      -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
      box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
      border: 1px solid #dee2e3;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
      background: white;
    }


}
//.opacity_image {
//  -webkit-filter: blur(5px);
//  -moz-filter: blur(5px);
//  -o-filter: blur(5px);
//  -ms-filter: blur(5px);
//  filter: blur(5px);
//}

img {
  max-width: 102% !important;
}
