$categories: (
 clothes: #6600CC,
 shoes: #AC282B,
 car: #8E8D93,
 electronics: #FE4C52,
 health: #FD8B2D,
 pharmacy: #FED035,
 restaurant: #69BB7B,
 food: #3BC7C4,
 shop: #B16BE3,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
