<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
			<ion-segment-button value="all">
				All
			</ion-segment-button>
			<ion-segment-button value="favorites">
				Favorites
			</ion-segment-button>
		</ion-segment>

		<ion-buttons end>
			<button ion-button icon-only (click)="presentFilter()">
				<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar no-border-top>
		<ion-searchbar color="primary"
		               [(ngModel)]="queryText"
		               (ionInput)="updateSchedule()"
		               placeholder="Search">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list #scheduleList [hidden]="shownSessions === 0">

		<ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

			<!--<ion-item-divider sticky>-->
				<!--<ion-label>-->
					<!--{{group.time}}-->
				<!--</ion-label>-->
			<!--</ion-item-divider>-->

			<ion-item-sliding *ngFor="let session of group.sessions; let i = index" #slidingItem
			                  [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

				<ion-card ion-item>
					<div class="flip-container" (click)="flip(session)" [class.flipped]="session.flipped">

						<div class="flipper">

							<div class="front">
								<img class="card-image" [src]="session.bg" alt="/">
							</div>

							<div class="back">
								<!--<img class="card-image opacity_image" [src]="session.bg" alt="/">-->
								<ngx-barcode [bc-value]="session.barcode" [bc-display-value]="true" style="position: absolute; margin: 0 auto;"></ngx-barcode>
							</div>

						</div>

					</div>

					<!--<div class="card-title">{{ session.name }}</div>-->
					<!--<div class="card-subtitle">64 Listings</div>-->
					<!--<h3>{{session.name}}</h3>-->
					<!--<p>{{session.location}}</p>-->
				</ion-card>

				<!--<ion-item-options>-->
					<!--<button ion-button color="favorite" (click)="addFavorite(slidingItem, session)"-->
					        <!--*ngIf="segment === 'all'">-->
						<!--Favorite-->
					<!--</button>-->
					<!--<button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"-->
					        <!--*ngIf="segment === 'favorites'">-->
						<!--Remove-->
					<!--</button>-->
				<!--</ion-item-options>-->

			</ion-item-sliding>

		</ion-item-group>

	</ion-list>

	<ion-list-header [hidden]="shownSessions > 0">
		No Sessions Found
	</ion-list-header>

</ion-content>
